/* Reset de m치rgenes y fuente global */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Asegura que el html ocupe toda la altura de la pantalla */
html, body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #0c058b; /* rosa pastel muy suave */
}
/* Control b치sico del tama침o del texto en c칩digo */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
