/* Reset de márgenes y fuente global */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Asegura que el html ocupe toda la altura de la pantalla */
html, body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f6cadc; /* rosa pastel muy suave */
}
/* Control básico del tamaño del texto en código */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/* Algunas reglas básicas para centrar y distribuir el contenido */
.App {
  text-align: center;
  flex: 1;
}